// COLORS
$color-primary-1: #245852;
$color-primary-2: #01996d;
$color-primary-light-1: #e9eeee;

$color-grey-1: #292929;
$color-grey-2: #424242;
$color-grey-light: #484848;

$color-white: #fff;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 300;
}

.test {
  font-size: 10rem;
}
