// COLORS
$color-primary-1: #245852;
$color-primary-2: #01996d;
$color-primary-light-1: #e9eeee;

$color-grey-1: #292929;
$color-grey-2: #424242;
$color-grey-light-1: #484848;
$color-grey-light-2: #D6D6D6;

$color-white: #fff;

// SHADOWS
$box-shadow-1: 0 2rem 5rem rgba($color-grey-1, 0.05);

// OUTLINE
$outline-focus: 1px solid $color-primary-2;

// MEDIA QUERY
$bg-largest2: 106em; // 1700px
$bg-largest1: 81.25em; // 1300px
$bg-largest: 68.75em; // 1100px
$bg-large: 56.25em; // 900px

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  box-sizing: border-box;

  @media only screen and (max-width: $bg-largest) {
    font-size: 55%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 300;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

// HEADINGS
.heading--1 {
  font-size: 6.5rem;
  color: $color-primary-2;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  

  font-size: 2rem;
  border-bottom: 1px solid $color-grey-light-2;

  padding: 1rem 2rem;
  margin-top: 1rem;

  @media only screen and (max-width: $bg-largest) {
    justify-content: space-between;
  }
}


.btn {
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 3px;
  background-color: $color-primary-2;
  font-family: inherit;
  color: $color-white;
  letter-spacing: 1.4px;
  font-size: 2rem;
  display: inline-block;
  transition: all 0.2s;
  
  &:hover {
    transform: scale(1.05);
    box-shadow: $box-shadow-1;
  }

}

.btn--white {
  background-color: $color-white;
  color: $color-grey-2;
  
  &:hover {
    box-shadow: inset 0 0 1px rgba($color-primary-2, 1);
  }

  &:focus {
    outline: none;
    outline: $outline-focus;
  }

}


// MOBILE MENU BUTTON
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;

  @media only screen and (max-width: $bg-largest) {
    display: block;
  }
}


.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: $color-primary-1;
}


.icon-mobile-nav[name="close-outline"] {
  display: none;
}