*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 300; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  border-bottom: 1px solid #D6D6D6;
  padding: 1rem 2rem;
  margin-top: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      justify-content: space-between; } }

.btn {
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 3px;
  background-color: #01996d;
  font-family: inherit;
  color: #fff;
  letter-spacing: .5px;
  font-size: 2.2rem;
  display: inline-block;
  transition: all 0.2s; }
  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 2rem 5rem rgba(41, 41, 41, 0.05); }

.btn--white {
  background-color: #fff;
  color: #424242; }
  .btn--white:hover {
    box-shadow: inset 0 0 1px #01996d; }
  .btn--white:focus {
    outline: none;
    outline: 1px solid #01996d; }

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .btn-mobile-nav {
      display: block; } }

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #245852; }

.icon-mobile-nav[name="close-outline"] {
  display: none; }

.nav {
  display: flex;
  align-items: center; }
  .nav__logo img {
    width: 8rem; }
  .nav-box {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 56.25em) {
      .nav-box {
        display: none;
        visibility: hidden; } }
  .nav__list {
    list-style: none;
    font-family: inherit;
    color: inherit;
    display: flex;
    justify-content: space-between;
    font-weight: 400; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem 4rem;
    color: #292929;
    display: inline-block;
    transition: all 0.2s; }
  .nav__link:hover, .nav__link:active {
    background-color: #e9eeee;
    transform: translateY(-3px); }
  .nav__link:focus {
    outline: none;
    outline: 1px solid #01996d; }
  .nav__btns {
    display: flex;
    gap: 1rem; }
